/* Portfolio project partially forked from fullpage.js 
This source code contains all the styles for the site,
Default fonts and backups for all pages*/
* {
    font-family: arial, helvetica, sans-serif;
    color: #fff;
}
/*set initial view for mobile screens*/
@media only screen and (max-width: 600px) {
    .responsive {
        z-index: -1;
        width: 100%;
        height: 60vh;
        display: inline;
    }
    /*Hide informational text on front pages when screen is too small*/
    .main-text {
        display: none;
    }
    .page-header {
        display:flex;
        justify-content:flex-start; 
        flex-direction: column;

    }
  }
/* menu styles */
#menu {
    width: auto;
    z-index: 99;
    position: fixed;
    top: 0;
    right: 10px;
    border: 0;
    font-size: 1.25em;
}
/*alternate menu style for the about and contact pages*/
#menu2 { 
    width: auto;
    font-size: 1.25em;
    display: flex;
    justify-content: flex-end;
    align-items: right;

}
ul li {
    display: inline-block;
}
.navbar {
    float: left;
    text-decoration: none;
    padding: 5px;
    margin: 5px;  
    
}
a.navbar {
    display: inline-block;
    position: relative;
} 

.links {
    display: block;
    position: relative;
    text-decoration: none;
    margin: auto;
}


div a {
    text-align: center;
}

/*Hover animations for the menu bar*/
.navbar:after , .links:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar:hover:after, .links:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*Styling for the text and main bulk of the pages*/
div h1 {
    text-align: center;
    padding: 20px; 
    font-size: 5em;
    margin: 0;
}

ul {
    display: block; 
}

/*Page coloring*/


/*for horizontal slides and controls*/
.controlArrow.prev {
    left: 50px;
}
.controlArrow.next{
    right: 50px;
}

/* Responsive Images styling on main page*/
.responsive {
    z-index: -1;
    width: auto;
    height: 60%;
    display: inline;
    text-align: right;
    justify-content: right;
}
.title {
    z-index: 1;
}

/*About Me and Contact Page Styling*/
#contact-body {
    background-color: #FF2517;
}

#about-body {
   background-color: #0099FF;
}

.page-header {
    text-align: center;
    display: block;
    font-size: 5rem;
    text-decoration: overline;
}

.mini-page-header {
    text-align: center;
    display: block;
    font-size: 3rem;
    text-decoration: overline;
}

/*Flexbox styling for two columns*/
.flexbox {
    flex-direction: row;
    display: flex;
}

.about-p {
    text-align: center;
    margin: 10px; 
    font-size: 1.75rem;
    padding: 5%;
    width: 50%;
    
    
}

.heading-2 {
    text-align: center;
    justify-content: right;
    font-size: 1.75rem;
    font-weight: bold;
    margin-top: 50px;
}

.heading-2 a {
    text-decoration: none;
    
}

.heading-2 a:hover {
    text-decoration: underline;
} 

.about-list {
    display: flex;
    flex-direction: column;
}

.list-item {
    font-size: 1.5rem;
    margin-top: 30px;
}